/* COMMON FOR MOBILE AND DESCTOP */
.github-button {
    text-decoration: none;
    color: #000
}


.github-button .github-btn-container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #000000;
    margin: auto;
}

.github-button .github-btn-container .text {
    font-family: 'SF Display Bold';
    display: inline-block;
}


/* FOR DESKTOP */
@media only screen and (min-width: 768px) {
    .landing .title {
	font-size: 36px;
    }

    .landing .text {
	font-size: 24px;
    }
    
    .github-button .github-btn-container img {
	width: 30px;
	height: 30px;
	margin-right: 16px;
	margin-bottom: 12px;		      
    }

    .github-button .github-btn-container {
	width: 216px;
	height:46px;
    }

    .github-button .github-btn-container .text {
	display: inline-block;
	line-height: 46px;	
    }

    .landing-title-container {
	max-width:518px;
    }

    .buttons-row {
	margin-top: 50px;
	margin-bottom: 52px;	
    }

    .send-button {
	text-decoration: none !important;	
    }

    .send-button button {
	height: 46px !important;
    }

    .features-block .title {
	margin-top: 140px;
	margin-bottom: 76px;
	text-align: center;
    }

    .features-block div img {
	margin: auto;
    }

    .features-block .img-container img {
	height: 117px;
    }

    .feature-title {
	text-align: center;
	font-size: 24px;
	font-family: 'SF Display Bold';
	margin-top: 30px;
	margin-bottom: 18px;
    }

    .feature-text {
	font-size: 16px;
	font-family: 'SF Display Regular';
	line-height: 1.4;
	text-align: left;
	width: 220px;
	margin: auto;
    }
    
}


/* FOR MOBILE */
@media only screen and (max-width: 767px) {
    .landing-xs-container,    
    .landing-title-container {
	max-width:310px;
	margin: auto;
    }
    
    .github-button .github-btn-container img {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	margin-bottom: 5px;		      
    }

    .github-button .github-btn-container {
	width: 160px;
	height: 37.5px;
    }

    .github-button .github-btn-container .text {
	display: inline-block;
	line-height: 37.5px;
    }

    .buttons-row {
	margin-top: 30px;
	margin-bottom: 33px;	
    }


    .features-block .title {
	margin-top: 70px;
	margin-bottom: 35px;
    }

    /* .features-block div img { */
    /* 	margin: auto; */
    /* } */

    .features-block .img-container img {
	height: 90px;
    }

    .feature-title {
	font-size: 16px;
	font-family: 'SF Display Bold';
	margin-top: 15px;
	margin-bottom: 14px;
    }

    .feature-text {
	font-size: 14px;
	font-family: 'SF Display Regular';
	line-height: 1.4;
	text-align: left;
	margin-bottom: 35px;	
    }
    
}

