
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 29%;
    outline: none;
    border: 3px solid #f5f5f5;
    margin-top: 0px !important;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    margin: auto;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background: #0099ff;
    
}

input[type="radio"]:checked {
  border-color: #f5f5f5;
  padding-top: 1px;  
}


/* FETCHING SPINNER */
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
}
.lds-spinner div {
    transform-origin: 12px 12px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 1px;
    left: 12px;
    width: 2px;
    height: 5px;
    border-radius: 20%;
    background: black;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
	opacity: 1;
    }
    100% {
	opacity: 0;
    }
}


body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
div:focus,
li:focus,
*:focus{
    outline: none !important;
}

*:focus, * {
    outline: none !important;
}

::-webkit-input-placeholder { /* Chrome */
    color: red;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: red;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: red;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: red;
    opacity: 1;
  }



  .lds-ring {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
  }
  .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 51px;
      height: 51px;
      margin: 6px;
      border: 6px solid #0099FF;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #0099FF transparent transparent transparent;
  }
  .lds-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 11px;
    margin-right: 11px;
}
.lds-button div {
    box-sizing: border-box;
    position: absolute;
    width: 22px;
    height: 22px;
    margin: 6px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
  .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
  }
  @keyframes lds-ring {
      0% {
	  transform: rotate(0deg);
      }
      100% {
	  transform: rotate(360deg);
      }
  }
  .lds-button div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-button div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-button div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-button {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

  .centered-lds {
      position: fixed; /* or absolute */
      top: 50%;
      left: 50%;
      margin-top: -35px;
      margin-left: -35px;
  }


  .react-tel-input .selected-flag .arrow {
      display: none !important;
  }

  .form-control { 
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      -webkit-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
      transition: none !important;
      transition: none !important;
  }

  input[type=text] {
      /* Remove First */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* Then Style */
      outline: none;
  }

  input[type=tel] {
      /* Remove First */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* Then Style */
      outline: none;
  }

  input[type=number] {
      /* Remove First */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* Then Style */
      outline: none;
  }

 .codeInput ::placeholder {
     padding-left: 15px !important;
     font-size: 12px !important;
     height: 38px !important;
     lineHeight: 16px !important;
     color: #0099ff !important;
 }

  .errorInput ::placeholder {
      color: #E64437 !important;
  }
  

 .hover:hover {
     cursor: pointer;
 }

 .progress {
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
 }

 .progress-bar {
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
 }

 .step-dot {
     width: 29.5px;
     height: 29.5px;
     border-radius: 50%;
     position: absolute;
     right: 0;
     top: -4px;
 }


.step-dot-inner-2{
     width: 24.5px;
     height: 24.5px;
     border-radius: 50%;
     margin: 2.5px;
     position: absolute;
}


.step-dot-inner-3{
     width: 19.5px;
     height: 19.5px;
     border-radius: 50%;
     margin: 2.5px;
     position: absolute;
  }

.step-dot.step-dot-green {
     background-color: rgba(43, 198, 79, 0.25);
 }

.step-dot-green .step-dot-inner-3{
     background-color: #2bc64f;
  }

.step-dot-green .step-dot-inner-2{
     background-color: rgba(43, 198, 79, 0.5);
 }


  .step-dot-inner-4 {
      color: #ffffff;
      margin: 5px;
      font-size: 10px;
  }


  .step-dot.step-dot-blue {
      background-color: rgba(0, 153, 255, 0.35);
      right: 3px;
 }

.step-dot-blue .step-dot-inner-3{
     background-color: #0099ff;
  }

.step-dot-blue .step-dot-inner-2{
     background-color: rgba(0, 153, 255, 0.5);
 }

.dot-pulse-inner {
    display: block;
    position: absolute;
    width: 19.5px;
    height: 19.5px;
    border-radius: 50%;
    background: #0099ff;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 153, 255, 0.5);
    animation: pulse 2s infinite;
    margin: 2.5px;
}


@-webkit-keyframes pulse {
    0% {
	-webkit-box-shadow: 0 0 0 0 rgba(0, 153, 255, 0.5);
    }
    70% {
	-webkit-box-shadow: 0 0 0 10px rgba(0, 153, 255, 0);
    }
    100% {
	-webkit-box-shadow: 0 0 0 0 rgba(0, 153, 255, 0);
    }
}
@keyframes pulse {
    0% {
	-moz-box-shadow: 0 0 0 0 rgba(0, 153, 255, 0.5);
	box-shadow: 0 0 0 0 rgba(0, 153, 255, 0.5);
    }
    70% {
	-moz-box-shadow: 0 0 0 10px rgba(0, 153, 255, 0);
	box-shadow: 0 0 0 10px rgba(0, 153, 255, 0);
    }
    100% {
	-moz-box-shadow: 0 0 0 0 rgba(0, 153, 255, 0);
	box-shadow: 0 0 0 0 rgba(0, 153, 255, 0);
    }
}


.dot-pulse-middle {
    display: block;
    position: absolute;
    width: 24.5px;
    height: 24.5px;
    border-radius: 50%;
    background:  rgba(0, 153, 255, 0.5);
    cursor: pointer;
    box-shadow:  rgba(0, 153, 255, 0.5);
    animation: pulse 2s infinite;
    margin: 2.5px;
}

.dot-pulse-outer {
    display: block;
    position: absolute;
    width: 29.5px;
    height: 29.5px;
    border-radius: 50%;
    background:  rgba(0, 153, 255, 0.25);
    cursor: pointer;
    box-shadow:  rgba(0, 153, 255, 0.25);
    animation: pulse 2s infinite;
}

.no-underline {
    text-decoration: none !important;
}


.btn-inverted div {
    width: 70%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    border: 1px solid #0099ff;
    background-color: #ffffff;
}

.btn-inverted:hover div,
.btn-inverted:focus div {
    background-color: rgba(0,153,255, 0.2)
}

.btn-inverted div span {
    color: #0099ff;
    font-family: 'SF Display Black';
    font-size: 18px;
}

.text-center {
    text-align: center;
}


.title {
    font-family: 'SF Display Black';
    line-height: 1.17;
}


.text {
    color: #000000;
    font-size: 14px;
    font-family: "SF Display Regular";
    font-weight: 400;
    line-height: 1.25
}


.text-blue {
    color: #0099ff;
}

.text-gray {
    color: #999999;
}

a.link {
    color: #0099ff;
    font-family: 'SF Display Bold';   
}
a.link:hover {
    color: #007acc !important;
    text-decoration: none !important
}

.progress-bar-labels-row {
    width: 320px;
    margin-left: -10px;
}


/* IPHONE 5 */
@media only screen and (max-width: 374px) {
    .title { 
	font-size: 22px;
    }

    .hidden-iphone5 {
	display: none !important;
    }

    .progress-bar-labels-row {
	width: 310px;
	margin-left: -5px;
    }
    
}

.footer-links-text {
    color: #000;
}

.footer-links-text:hover {
    color: #007acc !important;
    text-decoration: none
}

.no-wallet-header-logo {
    width: 55px;
    height: 29px;
    font-family: "SF Display Black";
    color: black;
    font-size: 24px;
    letter-spacing: 1;
    text-align: center;
    margin-top: 9px;
}

.not-connected-button {
    width: 145px;
    height: 22px;
    border-radius: 6px;
    margin-top: 15px;
    text-align: center;
    border: 2px solid #999999;
    font-family: "SF Display Regular";
    font-size: 12px;
    color: #999999;
    padding: 0;
    padding-top: 1px;
    padding-left: 5px;
}


@media only screen and (min-width: 375px) {
    .title { 
	font-size: 24px;
    }
}

.cancel-button {
    width: 65px;
    height: 22px;
    border-radius: 8px !important;
    border-color: #0099ff !important;
    background-color: #0099ff !important;
    color: #fff !important;
    font-size: 12px !important;
    font-family: 'SF Display Black' !important;
    text-align: 'center' !important;
    padding: 0px !important;
    line-height: 1 !important;
}

.cancel-button:hover, .cancel-button:focus {
    background-color: #007acc !important
}

.history-button:hover, .history-button:focus {
    background-color: #e6e6e6 !important; 
}


.button-primary:hover, .button-primary:focus {
    background-color: #007acc
}



.faq-icon:hover img,
.faq-icon:focus img {
    filter: brightness(90%);
}




/* DESKTOP */
@media only screen and (min-width: 768px) {
    .footer-links {
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	float: none;
	justify-content: space-around;
	align-items: center;
	font-family: 'SF Display Black';
	font-size: 24px;
    }

    .footer-text {
	font-size: 16px;
    }

    .footer-subcontainer {
        width: '100%';       
        padding-left: 100px;
        padding-bottom: 60px;
        padding-top: 60px;
        padding-right: 100px;
        background-color: #f5f5f5;
    }

    .no-wallet-header-logo-desktop {
	width: 55px;
	height: 29px;
	font-family: "SF Display Black";
	color: black;
	font-size: 46px;
	letter-spacing: 1;
	text-align: center;
	margin-top: 9px;
    }
    
    .not-connected-button-desktop {
	border-radius: 10px;
	margin-top: 15px;
	text-align: center;
	border: 2px solid #999999;
	font-family: "SF Display Regular";
	font-size: 24px;
	color: #999999;
	padding: 0;
	padding-top: 1px;
	padding-left: 5px;
	padding-right: 3px;
    }
    
 
}


/* MOBLIE */
@media only screen and (max-width: 767px) {
    .footer-links {
 	font-family: 'SF Display Black';
	font-size: 16px;
	margin-top: 54px;
	padding-bottom: 40px;
    }

    .footer-links a div {
	margin-bottom: 30px;
    }
    
    .footer-text {
	font-size: 14px;
    }

    .footer-subcontainer {
        width: '100%';       
        padding-left: '8%';
        padding-bottom: '5%';
        padding-top: '5%';
        padding-right: '7%';
        background-color: #f5f5f5;
    }

    .no-wallet-header-logo-desktop {
	width: 55px;
	height: 29px;
	font-family: "SF Display Black";
	color: black;
	font-size: 24px;
	letter-spacing: 1;
	text-align: center;
	margin-top: 9px;
    }

    .not-connected-button-desktop {
	width: 145px;
	height: 22px;
	border-radius: 6px;
	margin-top: 15px;
	text-align: center;
	border: 2px solid #999999;
	font-family: "SF Display Regular";
	font-size: 12px;
	color: #999999;
	padding: 0;
	padding-top: 1px;
	padding-left: 5px;
    }

    
}