@font-face {
    font-family: "SF Display Black";
    font-weight: 900;    
    src: url("./SanFranciscoDisplay-Black.otf");
}

@font-face {
  font-family: "SF Display Bold";
  font-weight: 700;
  src: url("SanFranciscoDisplay-Bold.otf");
}

@font-face {
    font-family: "SF Display Medium";
    src: url("SanFranciscoDisplay-Medium.otf");
  }

@font-face {
  font-family: "SF Display Regular";
  src: url("SanFranciscoDisplay-Regular.otf");
}

@font-face {
    font-family: "SF Display Semibold";
    src: url("SF-Pro-Display-Semibold.otf");
  }