<div className="row m-t-sm">
    <div className="col-md-12">
	<div className="panel panel-filled">
	    <div className="panel-body"><div className="row">
		<div className="col-md-12">
		    <div className="media">
			<i className="pe pe-7s-user c-accent fa-3x"></i>
			<h2 className="m-t-xs m-b-none">
			    Luna user
			</h2>
			<small>
			    There are many variations of passages of Lorem Ipsum available, but the majority
			    have suffered alteration in some form Ipsum available.
			</small>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>
